.type-menu .navbar-light .navbar-nav .nav-link {
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.type-menu .second-row {
    text-decoration: none;
    color: white;
    background: black;
    padding: 5px 20px 5px 20px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding-top: 3px;
    margin-left: 30px;
    
  }
  .type-menu{
      padding-top: 10px;
  }
  .header {
    z-index: 10;
    position: relative;
  }
  .main__menu {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .main__menu > li > a {
    color: #333333;
    display: block;
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
  }
  .main__menu li {
    position: relative;
    margin: 0 20px;
  }
  .main__menu > li:hover > a {
    color: #c43b68;
  }
  .logo a {
    display: block;
  }
  .header__right {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
  }
  a.meanmenu-reveal {
    display: none;
  }
  .mean-container .mean-bar {
    background: rgba(0,0,0,0) none repeat scroll center bottom;
    float: left;
    min-height: auto;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 99;
  }
  .mean-container a.meanmenu-reveal {
    border: 2px solid #444;
    color: #444;
    cursor: pointer;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    margin-top: -56px;
    padding: 5px 6px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    top: 0;
    width: 22px;
  }
  .mean-container a.meanmenu-reveal span {
    background: #444 none repeat scroll 0 0;
    display: block;
    height: 3px;
    margin-top: 3px;
  }
  .mean-container .mean-nav {
    background: #0c1923 none repeat scroll 0 0;
    float: left;
    margin-top: 0;
    width: 100%;
  }
  .mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
  }
  .mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
  }
  .mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #fff;
    border-top: 1px solid #383838;
    border-top: 1px solid rgba(255,255,255,0.2);
    text-decoration: none;
    text-transform: uppercase;
  }
  .mean-container .mean-nav ul li li a {
    width: 80%;
    padding: 1em 10%;
    border-top: 1px solid #f1f1f1;
    border-top: 1px solid rgba(255,255,255,0.25);
    opacity: 0.75;
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible;
  }
  .mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0;
  }
  .mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 1em 15%;
  }
  .mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%;
  }
  .mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%;
  }
  .mean-container .mean-nav ul li a:hover {
    background: #252525;
    background: rgba(255,255,255,0.1);
  }
  .mean-container .mean-nav ul li a.mean-expand {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: rgba(255,255,255,0.1) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color rgba(255,255,255,0.2) rgba(255,255,255,0.4) !important;
    font-weight: 700;
    height: 32px;
    margin-top: 1px;
    padding: 12px 12px 7px !important;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 26px;
    z-index: 2;
  }
  .mean-container .mean-bar,
  .mean-container .mean-bar * {
    box-sizing: content-box;
  }
  .header__search a i {
    color: #000000;
    font-size: 19px;
    position: relative;
  }
  .htc__shopping__cart {
    position: relative;
  }
  .htc__shopping__cart a i {
    color: #000000;
    font-size: 19px;
  }
  .htc__shopping__cart a span.htc__qua {
    background: #c43b68;
    border-radius: 100%;
    color: #fff;
    font-size: 9px;
    height: 17px;
    line-height: 19px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -4px;
    width: 17px;
  }
  .header__search a {
    padding-right: 20px;
    position: relative;
    margin-right: 20px;
  }
  .header__search a::before {
    background: #898989;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
    width: 2px;
  }
  .header__account a {
    color: #000;
    font-size: 19px;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
  }
  .header__account a::before {
    background: #898989 none repeat scroll 0 0;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
  }
  .sticky__header.scroll-header {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    background: rgba(246,246,248,0.9) none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .header--3 .scroll-header .menumenu__container {
    background: transparent;
  }
  .fluid-container.mobile-menu-container {
    position: relative;
  }
  .mobile-logo {
    align-items: center;
    display: flex;
    height: 52px;
    left: 0;
    padding-left: 15px;
    position: absolute;
    top: 0;
    z-index: 2147483647;
  }
  .mobile-logo img {
    max-height: 25px;
  }
  .main__menu li.drop {
    position: relative;
  }
  .main__menu li.drop ul.dropdown {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 0px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 120%;
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    width: 220px;
    z-index: 999;
  }
  .scroll-header .main__menu li.drop ul.dropdown {
    top: 120%;
  }
  .scroll-header .main__menu li.drop:hover ul.dropdown {
    top: 100%;
  }
  .main__menu li.drop:hover ul.dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  .main__menu ul.dropdown li {
    border-bottom: 1px solid #f4f4f4;
    display: block;
  }
  .main__menu ul.dropdown li a {
    background: #ffffff none repeat scroll 0 0;
    color: #333;
    display: block;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    padding: 9px 18px;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
  }
  .main__menu li.drop ul.dropdown li:hover > a {
    background: #fafafa none repeat scroll 0 0;
    color: #c43b68;
  }
  .main__menu li.drop ul.dropdown li {
    margin: 0;
  }
  .search__area {
    background: #cfcfcd none repeat scroll 0 0;
    box-shadow: 0 8px 10px rgba(0,0,0,0.08);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    transition: all 300ms ease 0s;
    z-index: 2147483647;
  }
  .search__area .search__inner {
    position: relative;
  }
  .search__area .search__inner form {
    margin: 4em 0;
    padding: 0 40px 0 0;
    position: relative;
    text-align: center;
  }
  .search__area .search__inner form input[type="text"] {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #333;
    font-size: 25px;
    font-weight: 300;
    height: 60px;
    line-height: 60px;
    padding: 0 70px 0 20px;
    text-align: left;
  }
  .search__area .search__inner form button {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 40px;
    top: 0;
    width: 60px;
    transition: 0.3s;
  }
  .search__area .search__inner form button:hover {
    background: #c43b68 none repeat scroll 0 0;
  }
  .search__area .search__inner form button:hover::before {
    color: #fff;
  }
  .search__area .search__inner .search__close__btn {
    display: block;
    line-height: 58px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .search__area .search__inner .search__close__btn {
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    line-height: 58px;
  }
  .search__close__btn .search__close__btn_icon i {
    transition: all 0.5s ease 0s;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  .search__close__btn .search__close__btn_icon:hover i {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    color: #c43b68;
  }
  .search__box__show__hide .search__area {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 300ms ease 0s;
  }
  .shopping__cart,
  .user__meta {
    background: #eeeeee none repeat scroll 0 0;
    box-shadow: 0 0 85px rgba(0,0,0,0.2);
    display: block;
    height: 100vh;
    opacity: 0;
    overflow-y: scroll;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.25s ease 0s;
    width: 100%;
    z-index: 99999;
    width: 475px;
  }
  .user__meta .htc__login__register {
    padding-top: 30px;
  }
  .offsetmenu.offsetmenu__on,
  .shopping__cart.shopping__cart__on,
  .user__meta.user__meta__on {
    opacity: 1;
    padding-bottom: 50px;
    right: calc(-16px);
  }
  .offsetmenu__inner,
  .shopping__cart__inner,
  .user__meta__inner {
    height: 100%;
    padding: 60px 50px 60px;
  }
  .offsetmenu__close__btn {
    background-color: #eee;
    padding: 29px 50px 24px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .offsetmenu__close__btn a i {
    color: #666666;
    font-size: 36px;
    transition: all 0.3s ease 0s;
  }
  .offsetmenu__close__btn a:hover i {
    color: #c43b68;
  }
  .offset__widget {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
    margin-top: 7px;
  }
  h4.offset__title {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  .offset__single ul li a {
    color: #303030;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
  }
  .offset__single ul li + li {
    padding: 2px 0 0;
  }
  .offset__single ul li a:hover {
    color: #c43b68;
  }
  .off__contact p {
    color: #303030;
    font-size: 16px;
    line-height: 28px;
    width: 98%;
    text-align: center;
  }
  .offset__sosial__share {
    margin-top: 21px;
    text-align: center;
  }
  .off__soaial__link {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .off__soaial__link li + li {
    padding-left: 15px;
  }
  .off__soaial__link li a {
    height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    transition: all 0.3s ease 0s;
    display: block;
  }
  .off__soaial__link li a i {
    color: #fff;
    font-size: 16px;
  }
  .off__soaial__link li a:hover i {
    color: #fff;
  }
  .off__contact {
    margin-bottom: 25px;
  }
  .off__contact .logo {
    margin-bottom: 18px;
    text-align: center;
    width: 100%;
  }
  .sidebar__thumd {
    display: flex;
    flex-wrap: wrap;
    margin: 32px -7px 30px;
  }
  .sidebar__thumd li {
    margin: 0 7px 15px;
    position: relative;
  }
  .sidebar__thumd a img {
    width: 100%;
  }
  .sidebar__thumd > li a::before {
    background: #c43b68 none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 100%;
  }
  .sidebar__thumd li a::after {
    color: #fff;
    content: "îœ½";
    font-family: themify;
    left: 40%;
    opacity: 0;
    position: absolute;
    top: 33%;
    transition: all 0.5s ease 0s;
  }
  .sidebar__thumd li a {
    position: relative;
  }
  .sidebar__thumd > li a {
    display: block;
  }
  .sidebar__thumd li a:hover::after {
    opacity: 1;
  }
  .sidebar__thumd li a:hover::before {
    opacity: 0.7;
  }
  .shopping__cart__inner {
    padding: 102px 50px;
  }
  .shopping__cart__inner .offsetmenu__close__btn {
    padding: 21px 50px 24px;
  }
  @media (min-width: 992px) and (max-width: 1169px) {
    .header__top__area,
    .menumenu__container {
      padding-left: 30px;
      padding-right: 30px;
    }
    .ht__header__right,
    .ht__header__top__left {
      justify-content: center;
    }
    .htc__shopping__cart {
      margin-right: 30px;
    }
    .ht__bradcaump__wrap {
      height: auto;
      padding: 60px 0;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .header__top__area,
    .menumenu__container {
      padding-left: 30px;
      padding-right: 30px;
    }
    .ht__header__right,
    .ht__header__top__left {
      justify-content: center;
    }
    .htc__shopping__cart {
      margin-right: 30px;
    }
    .ht__bradcaump__wrap {
      height: auto;
      padding: 60px 0;
    }
  }
  @media (max-width: 767px) {
    .header__top__area,
    .menumenu__container {
      padding-left: 30px;
      padding-right: 30px;
    }
    .ht__header__right,
    .ht__header__top__left {
      justify-content: center;
    }
    .htc__shopping__cart {
      margin-right: 30px;
    }
    .ht__bradcaump__wrap {
      height: auto;
      padding: 60px 0;
    }
    .mobile-menu-area .mean-nav ul {
      height: 211px;
      overflow-y: auto;
    }
    .slider--one .container-fluid {
      padding-left: 20px;
      padding-right: 20px;
    }
    .mean-container a.meanmenu-reveal {
      margin-top: -59px;
    }
  }
  