@font-face {
  font-family: Ubu;
  src: url(../fonts/Ubuntu-C.ttf);
}
@font-face {
  font-family: lato;
  src: url(../fonts/Lato-ThinItalic.ttf);
}
.type-25 {
  background: black;
}
.type-25 .text1 {
  color: #666666;
}
.type-25 .text1 h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
}
.type-25 h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
}
.type-25 li {
  list-style: none;
}
.type-25 .menu {
  padding-left: 0;
}
.type-25 .menu-item {
  color: #999;
  font-size: 14px;
  text-decoration: none !important;
  line-height: 26px;
}
.type-25 p {
  color: #999999;
  text-transform: uppercase;
  font-size: 11px;
}
.type-25 .menu-item1 {
  color: #8d7431;
  text-transform: uppercase;
  text-decoration: none;
}
.type-25 span {
  font-size: 13px;
  color: #666;
}
.type-25 .logo {
  padding-bottom: 20px;
}
.type-25 a {
  display: inline;
}
.type-25 .down {
  border-top: 1px solid #818491;
}
@media (max-width: 768px) {
  .type-25 .col-sm-3 {
    width: 100%;
  }
}
