@font-face {
  font-family: 'Clicker Script';
  src: url(../fonts/ClickerScript-Regular.ttf);
}

@font-face {
  font-family: 'Cinzel';
  src: url(../fonts/Cinzel-Regular.ttf);
}

.type-1 {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../images/kallyas-landingpage.jpg");
  height: 1290pX;
}

.type-1 .push {
  height: 200px;
  padding: 200px;
}

.type-1 h3 {
  text-align: left;
  font-size: 82px;
  line-height: 100px;
  margin: 0px 100px 0;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
}
.type-1 p{
  color: #333333;
  margin: 30px 100px 0;
  font-size: 24px;
}

/* module 2 */

.type-2 .panner-wrap {
  border-top: 1px solid #fff;
  position: relative;
  width: 100%;
  padding-bottom: 197px;
  background: #fff;
}
.type-2 .panner-wrap .para1 {
  padding-top: 100px;
  padding-bottom: 30px;
}

.type-2 .panner-wrap * {
  box-sizing: border-box;
}
.type-2 .panner-wrap .container1 {
  position: relative;
  max-width: 800px;
}


