@font-face {
  font-family: Ubu;
  src: url(../fonts/Ubuntu-C.ttf);
}
@font-face {
  font-family: lato;
  src: url(../fonts/Lato-ThinItalic.ttf);
}
.type-24 {
  background-image: url(../images//people.jpg);
  text-align: center;
  background-size: 100%;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: translate3d(0px,0px,0px);
}
.type-24 h2 {
  padding-top: 100px;
  color: #fff;
  font-family: Ubu;
  font-size: 30px;
}
.type-24 p {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding-top: 10px;
  color: #fff;
  padding-bottom: 155px;
}
.type-24 .second-row a {
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: 20px 30px 20px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.type-24 .second-row a:hover {
  background: #fff;
  opacity: 0.9;
}
.type-24 span {
  color: #c89d28;
  font-family: Georgia;
  font-size: 22px;
}
