@font-face {
  font-family: Ubu;
  src: url(../fonts/Ubuntu-C.ttf);
}
@font-face {
  font-family: lato;
  src: url(../fonts/Lato-ThinItalic.ttf);
}
.type-22 img {
  display: block;
  border-style: none;
  max-width: 100%;
  float: right;
}
.type-22 .paragraph1 .title {
  color: #222222;
  font-size: 30px;
  line-height: 54.4px;
  position: relative;
  padding: 70px;
  margin: 0;
  text-align: center;
}
@media (max-width: 768px) {
  .type-22 .col-sm-2 {
    width: 100%;
  }
  .type-22 .col-sm-2 img {
    padding-bottom: 170px;
    padding-right: 170px;
  }
}
